{{#if currentUser}}
  <h2>
    Welcome back
    {{#if currentUser.realname}}
      {{currentUser.realname}}
    {{else}}
      @{{currentUser.username}}
    {{/if}}
  </h2>
  <ul>
    <li>
      <form method="post" action="/logout">
        <a href="/logout" onclick="this.parentElement.submit(); return false">logout</a>
      </form>
    </li>
    <li>
      <a href="/@{{currentUser.username}}">profile</a>
    </li>
  </ul>

{{else}}
  <h5>Welcome New User</h5>

  <form method="post" action="/login">
    <p>
      <label for="login-input-username">Login</label><br/>
      <input required id="login-input-username"
        pattern="[a-z]{1}[a-z0-9]{3,20}"
        type="text" name="username" placeholder="username"
      />
      <button type="submit" class="btn btn-primary">LOGIN</button>
    </p>
  </form>

  <a href="/signup">signup</a>
{{/if}}

<hr/>

<h5>Other Apps</h5>
<ul>
  {{#each partnerApps}}
    <li>
      <a href="{{url}}">{{name}}</a>
      {{#if ../session}}
        <span> | </span>
        <a href="/send-me-to?app={{url}}">hyper-login</a>
      {{/if}}
    </li>
  {{/each}}
</ul>

<h5>Users</h5>
<ul>
  {{#each users}}
    <li>
      <a href="/@{{username}}">@{{username}}</a>
      <span> - </span>
      <a href="/@{{username}}">{{realname}}</a>
      <span> - </span>
      <form method="post" action="/login" style="display: inline">
        <input type="hidden" name="username" value="{{username}}"/>
        <a href="/login" onclick="this.parentElement.submit(); return false">login-as</a>
      </form>
    </li>
  {{else}}
    <i>no users :(</i>
  {{/each}}
</ul>
