<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link type="text/css" rel="stylesheet" href="/almond.css"/>
    <link type="text/css" rel="stylesheet" href="/index.css"/>
    <style>
      :root {
        --app-color: {{app.color}};
      }
      html {
        background-color: var(--app-color);
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1><a href="/" class="home-link"> </a> {{app.name}}</h1>

      <ul>
        <li><a href="/">home</a></li>
        {{#if session}}
          <li>
            <form method="post" action="/logout">
              <a href="/logout" onclick="this.parentElement.submit(); return false">logout</a>
            </form>
          </li>
        {{else}}
          <li><a href="/login">login</a></li>
        {{/if}}
      </ul>


      {{#if session}}
        <h4>Logged in as:</h4>
        <dl>
          <dt>DID</dt><dd>{{session.did}}</dd>
          <dt>Email</dt><dd>{{session.email}}</dd>
        </dl>
      {{else}}
        <h4>Not Logged in</h4>
      {{/if}}
      {{{body}}}
    </div>
  </body>
</html>

