<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link type="text/css" rel="stylesheet" href="/index.css"/>
    <style>
      body{
        background-color: {{appColor}};
      }
    </style>
  </head>
  <body>
    <nav>
      <header>APP: {{appName}}</header>
      {{#if currentUser}}
        welcome back {{currentUser.email}}
        logout
      {{else}}
        login or signup
      {{/if}}
    </nav>
    <main>{{{body}}}</main>
  </body>
</html>
