<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link type="text/css" rel="stylesheet" href="/index.css"/>
    <link type="text/css" rel="stylesheet" href="bootstrap/css/bootstrap.css"/>
    <script type="application/javascript" src="/bootstrap/js/bootstrap.js"></script>
  </head>
  <body style="--app-color: {{app.color}}; background-color: var(--app-color);">
    <div class="container">
      <h1>{{app.name}}</h1>
      {{#if session}}
        <h2>Logged in as:</h2>
        <h3>DID: {{session.did}}</h3>
        <h3>Email: {{session.email}}</h3>
        <form method="post" action="/logout">
          <input type="submit" value="Logout"/>
        </form>
      {{else}}
        <h2>Not Logged in</h2>
        <h3>Login:</h3>
        <form method="post" action="/login">
          <label>
            Email: <input type="text" name="email"/>
          </label>
          <label>
            Password: <input type="password" name="password"/>
          </label>
          <input type="submit" value="login"/>
        </form>
      {{/if}}

      <hr/>
      <footer>
        <h5>Other Apps</h5>
        <ul>
          {{#each otherApps}}
            <li>
              <a href="{{url}}">{{name}}</a>
              {{#if ../session}}
                <span> | </span>
                <a href="/send-me-to?app={{name}}">login as {{session.email}}</a>
              {{/if}}
            </li>
          {{/each}}
        </ul>
      </footer>
    </div>

  </body>
</html>
